.top {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.bottom {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.biggerLogo{
  margin: auto;
  width: 20%;
  padding: 10px;
}

.paragraph {
  margin: auto;
  width: 60%;
  padding: 10px;
}