.container{
  display: flex;
  flex-direction: row;
}
.main-container{
  justify-content: space-between;
  background-color: lightgray;
}
.center-container{
  align-items: center;
}

.logo{
  height: 50px;
  width: 50px;
  border-radius:100%;
  margin-right: 10%;
  margin-left: 10%;
  cursor:pointer;
}

.cart{
  height: 40px;
  width: 40px;
  border-radius:100%;
  margin-left: 30%;
  cursor:pointer;
}
.space{
  margin-right: 5%;
  margin-left: 5%;
}
.shoppingCartButton{
  border-radius: 50%;
}

.placeholder{
  width: 4.5%;
}