.itembox {

    float: left;
    padding: 2%;
    height: 40%;
    width: 40%;
    
}
.headline{
   display: block;
    padding: 1%;
}
.pic {
    height: 40%; 
    width: 40%;
    padding: 0%;
}

.textbox {
display: block;
padding: 1%;
}
